body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Architects Daughter', cursive;
  padding: 1em;
  min-height: 100vh;
  box-sizing: border-box;
}