.Input-container {
    margin: 0 10px;
    display: flex;
}

input {
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
    outline: none;
    border: 10px solid transparent;
    border-image: url(/public/border.svg) 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}